<div class="menu">
  {{#link-to 'admin'}}
    <h1>
      <em>Crossover Admin</em>
    </h1>
  {{/link-to}}
  <div class="links">
    {{#if session.isAuthenticated}}
      {{#link-to 'admin.tickets'}}
        My tickets
      {{/link-to}}
      <a href="#" {{action 'logout'}}>Logout {{currentUser.user.email}}</a>
    {{else}}
      {{#link-to 'admin.login'}}Login{{/link-to}}
    {{/if}}
  </div>
</div>
