<div class="menu">
  {{#link-to 'admin'}}
    <h1>
      <em>Crossover Admin</em>
    </h1>
  {{/link-to}}
  <div class="links">
    {{#link-to 'admin.tickets'}}
      Tickets
    {{/link-to}}
    {{#link-to 'admin.reports'}}
      Reports
    {{/link-to}}
    {{#link-to 'admin.users'}}
      Users
    {{/link-to}}
    <a href="#" {{action 'logout'}}>Logout {{currentUser.user.email}}</a>
  </div>
</div>
