<header class="header top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          {{#link-to 'app'}}
            Crossover
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'app.tickets'}}
            My tickets
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'app.tickets/new'}}
            New ticket
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</header>

