<div class="menu">
  {{#link-to 'app'}}
    <h1>
      <em>Crossover</em>
    </h1>
  {{/link-to}}
  <div class="links">
    {{#link-to 'app.tickets'}}
      My tickets
    {{/link-to}}
    {{#link-to 'app.tickets.new'}}
      New ticket
    {{/link-to}}

    {{#if session.isAuthenticated}}
      <a href="#" {{action 'logout'}}>Logout</a>
    {{else}}
      {{#link-to 'app.login'}}Login{{/link-to}}
    {{/if}}
  </div>
</div>
