<form class="list-filter" {{action "authenticate" on="submit"}}>
  <br>
  {{input value=identification placeholder="Email"}}
  <br>
  {{input value=password type="password" placeholder="Password"}}
  <br>
  <button type="submit" class="button">Login</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
