{{#if tickets}}
  {{#each tickets as |ticket|}}
    {{ticket-show ticket=ticket showViewButton=true}}
  {{/each}}
{{else}}
  <article class="listing">
    <h3>No tickets</h3>
    <br>
    {{#link-to 'app.tickets.new' class="button"}}
      Create a new ticket
    {{/link-to}}
  </article>
{{/if}}
