{{#if tickets}}
  {{#each tickets as |ticket|}}
    <article class="listing">
      <h3>{{ticket.title}}</h3>
      <div class="detail">
        {{ticket.description}}
      </div>
      <div class="detail">
        Status: {{ticket.status}}
      </div>
      {{#if currentUser.user.admin}}
      <div class="detail">
        {{#link-to 'admin.tickets.edit' ticket class="button"}}
          Answer
        {{/link-to}}
      </div>
      {{/if}}
    </article>
  {{/each}}
{{else}}
  <article class="listing">
    <h3>No tickets</h3>
    <br>
    {{#link-to 'app.tickets.new' class="button"}}
      Create a new ticket
    {{/link-to}}
  </article>
{{/if}}
