<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Status:</strong> {{model.status}}
    </div>
    <div class="detail">
      {{model.description}}
    </div>
  </div>
</div>
